<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alien Form</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<h1>Alien Form</h1>
<h2>Fill the form with valid details:</h2>

<form action="addAlien" method="post">
    <label for="aid">Enter Alien ID:</label>
    <input type="text" id="aid" name="aid"><br/>

    <label for="aname">Enter Alien name:</label>
    <input type="text" id="aname" name="aname"><br/>

    <button type="submit" class="submit-btn">Submit</button>
</form>
</body>
</html>
