<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator Form</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<h1>Calculator Form</h1>
<h2>Fill the form with valid details:</h2>

<form action="add" method="post">
    <label for="num1">Enter 1st number:</label>
    <input type="text" id="num1" name="num1"><br/>

    <label for="num2">Enter 2nd number:</label>
    <input type="text" id="num2" name="num2"><br/>

    <label for="num3">Enter 3rd number:</label>
    <input type="text" id="num3" name="num3"><br/>

    <button type="submit" class="submit-btn">Submit</button>
</form>
</body>
</html>
